html{
    margin:0;
}
span{
    display:block
}
.canvas{
    margin:100 px auto 100px;
    width: 100%;
    text-align:center;
}
.button{
    height: 100px;
    width: 100px;
    border:solid black 2px;
    display:inline-block;
    border-radius : 8px;
}
#grey{
    background-color:grey;
}
#Red{
    background-color:red;
}
#aqua{
    background-color:aqua;
}
#Green{
    background-color:green;
}
